* {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 500; */
  transition: all .1s ease;
}

@font-face {
 font-family: BebasNeue;
 src: url(fonts/BebasNeue-Regular.woff);
}
h1,h3,h2,h4,h5,h6{
  font-family: BebasNeue;
}
.navbar
{
  background: #434244 !important;
  color:#fff !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  padding-right: 0px !important;
}

.navbar-light .navbar-nav .nav-link
{
  font-family: BebasNeue;

  font-weight: normal;
  color:#fff !important;
  padding-right: 40px;
}

.about
{background: #434244;
  border-top-right-radius: 20px;
  margin-left: -21px;
  z-index: 5;
}
.featured
{
  background: #0998C6;
  border-top-right-radius: 20px;
  margin-left: -21px;
  z-index: 4;
}

.other-projects {
  background: #00A550;
  border-top-right-radius: 20px;
  margin-left: -21px;
  z-index: 3;

}
.project
{
  background: #0998C6;

  border-top-right-radius: 20px;
  margin-left: -21px;
  z-index: 3;
}

.team{
  background:#E04B9A;
  /* border-top-right-radius: 20px; */
  margin-left: -21px;
  z-index: 2;
}

.nav-link
{
  font-size: 22px;
  padding-left:200px !important;
  height: 60px;
  padding-top: 20px;
}


.one{
  background-color: #434244 !important;
  background-image: -webkit-linear-gradient(100deg, #0998C6 50%, #434244 50%);
  min-height: 450px;
  color:#fff;
}
.two{
  background-color: #434244 !important;
  background-image: -webkit-linear-gradient(80deg,#00A550    50%,#0998C6  50%);
  min-height: 400px;
  color:#fff;
}
.three{
  background-color: #434244 !important;
  background-image: -webkit-linear-gradient(100deg,#E04B9A    50%,#00A550 50%);
  min-height: 400px;
  color:#fff;
}

.sectionOne
{
 background-color: #434244;
 color:#fff;
 text-align: center;
 text-align: justify;
 padding:20px;
  /* padding-left: 200px;
  padding-right: 200px; */

}


.sectionTwo
{
  background: #0998C6;
}

.navigationBar
{
  z-index: 5 !important;
}

.add-padding {
  padding-top: 60px;
}
.titleSection
{
  text-align: center !important;
  padding-top: 40px;
  padding-bottom: 30px;
  color:#fff;
}
.subtitleSection
{
  text-align: center !important;
  padding-top: 100px;
  padding-bottom: 50px;
  color:#fff;
}

.videoContainer
{
  margin-top: 60px;
  opacity: .75;
}

.sectionOneContent
{
  float:left;
}

.projects
{
  background: #00A550;
}

.sectionThree
{
  background: #00A550;
}

.sectionFour{
  background: #e04b9a;
}
/* Team Member CSS
===========================*/

h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}

.team-container {
  /* max-width: 1000px; */
  margin: auto;
  /* border-top: 1px #e9e9e9 solid; */
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 5em;
  padding-bottom: 5em;
  /* margin-top: 3em; */
  position: relative;
}

.team-member {
  width: 16%;
  float: left;
  text-align: center;
  margin-right: 5%;
}

.team-member:last-child {margin-right: 0;}


.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.team-member h3 {
  color: #fff;
}

.email {
  color: #fff;

}

.team-member span {
  display: block;

}
.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 50%;
  height: auto;
  transition: 0.1s transform ease-in-out;
  margin-bottom: 10px;
}


.team-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:16%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;

  }

}



@media (max-width:650px){
  .team-member {
    width:50% !important;
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }

  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}

@media (max-width:992px){

  .featured
  {
    background: #434244;
    text-align: right;
    padding-right:20px;
  }

  .team
  {
    background: #434244;
    text-align: right;
    padding-right:20px;
  }

  .other-projects {
    background: #434244;
    text-align: right;
    padding-right:20px;
  }

  .about{
    background: #434244;
    text-align: right;
    padding-right:20px;
  }
}

/* ENDS Team Member CSS
===========================*/


a:hover{

  color:#fff;
}

.description
{
  float: left;
}


.mainSections
{
  background: #434244;
}

.teamMember
{
  color:#fff !important;
  text-align: center;
  padding-bottom:40px;
  border: #0000000f;
  border-width: #ffffff12;
  border-width: 2px;
  border-style: none;
  padding-top: 40px;
}

.socialIcon
{
  color:#fff !important;
  font-size:1.5em;
  padding-right:5px;
}

.socialIcon:hover
{
  color:#434244 !important;

}

.footerContent p
{
  margin-bottom:0px !important;
  color:#fff;
}
.footerContent
{
  background:#434244 !important
}

.marginFix
{
  margin:0px;
}



.active{

  font-size: 26px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 8px !important;



}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
  letter-spacing: 8px;
}

#textloop {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-family: BebasNeue;
  font-size: 5em;
  padding: 20px;
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  line-height: 1em;
}

.hexLink {
  background-color: #434244;
}


.hex img { 
  padding: 30px; 
}