/*****************************************************************/


/*****************************************************************
  General Global Styles
*****************************************************************/
@font-face {
   font-family: BebasNeue;
   src: url(../media/fonts/BebasNeue.woff);
}

html, body {
  font-family: Roboto, sans-serif;
  background: #444345;
}

h1, h2, h3, h4 {
	font-family: BebasNeue;
}


/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    position: relative;
    width: auto;
    min-height: 1000px;
}


/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left:0;
    /*right: 0;*/
    top: 0;
    width: 70%;
    z-index: 5;
    min-height: 1062px;
}


/*****************************************************************/


/*****************************************************************
  Background Video Styles
*****************************************************************/
/*
div.videowrapper {
  margin: 0;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  background-color: rgba(67, 66, 68, 0.8);
}


#video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  min-width: 100%;
  z-index: -10;
  height: auto;
  background: transparent url(luis-llerena-14779.jpg) no-repeat;
  background-size: cover;
}
*/

#projects .title {
  font-size: 1.5rem;
}
#about .title, #team .title {
  color: #ffffff;
  font-size: 1.5em;
}

#team .subtitle {
  color: #eeeeee;
  font-size: 1em;
}

video {
  width: 100%    !important;
  height: auto   !important;
}
#team {
  color: #dddddd;
  background: #444345;

}
#about {
    color: #dddddd;
    font-size: 27px;
    font-style: italic;
    line-height: 43px;
    background-color: transparent;
  }
/* background video */

.fullscreen-bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 715px;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
/*    height: 300%;
    top: -100%;
*/
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
  /*
    width: 300%;
    left: -100%;
  */
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

/*****************************************************************/

/*****************************************************************
  Subpage Header Styles
*****************************************************************/
div.headerpic {
	height: 500px;
	background-color: #434244;
	text-align: center;
}

div.headerpic h2 {
	line-height: 500px;
	font-size: 5em;
	color: white;
	text-transform: uppercase;
}
/*****************************************************************/


/*****************************************************************
  Tiles Styles
*****************************************************************/

ul.tiles {
  list-style-type: none;
  display: block;
  background-color: #e6e7e8;
}
/*****************************************************************/


/*****************************************************************/



/*****************************************************************
  Footer Styles
*****************************************************************/

#footer {
    bottom: 0;
    width: 100%;
    background-color: #0998C6;
    color: #ffffff;
}

.videowrapper img.logo {
    width: 100px;
    left: 25px;
    top: 25px;
    position: absolute;
}
.logo {
      width: 100px;
    position: absolute;
    z-index: 99;
    left: 25px;
    top: 25px;
}
}

#footer_logo {
    position: absolute;
    right: 75px;
    bottom: 75px;
}
#footer_logo img {
    width: 100px;
}

#footer_statement {
  margin-top: -50px;
}
/* Circle tab above the footer */
footer .circle {
	display: inline-block;
	text-align: center;
	position: relative;
	top: -50px;
	border-radius: 70px;
	background-color: #0998C6;
}

/* Arrow inside the Circle tab above the footer */
footer .circle img.arrow {
	width: 50px;
	transform: rotateX(180deg);
}
/*
footer ul.socialmedia {
	text-align: center;
	width: 500px;
	margin: auto;
}

footer ul.socialmedia li {
	display: inline-block;
	width: 50px;
	height: 50px;
}

footer ul.socialmedia li a {
	color: white;
}

footer p.footertext {
	margin: auto;
	color: white;
}
*/

/*****************************************************************/


/*****************************************************************
	Projects Page CSS
*****************************************************************/
#zoorush:hover {

}

#unsavory:hover {

}

#dongreycafe:hover {

}

#dreamy:hover {

}

#atlantis:hover {

}

#zoorush {
	background-image: url('../media/zoorush.png');
	background-size: cover;
}

#dongreycafe {
	background-image: url('../media/dongreycafe.png');
	background-size: cover;
}

#atlantis {
	background-image: url('../media/atlantis.png');
	background-size: cover;
}

#unsavory {
	background-image: url('../media/unsavory.png');
	background-size: cover;
}

#dreamy {
	background-image: url('../media/dreamy.png');
	background-size: cover;
}

section.all-projects {
	width: 100%;
}

div.project {
	height: 600px;
	width: 800px;
	display: inline-block;
	margin: 25px;
}

@media all and (max-width: 768px) {
.tile.is-3.is-parent{
  display: flex;
    flex: none;
    width: 50%;
    float: left;

}
.tile.is-2.is-parent{
  width: 50%;
  float: left;
}
.nextRow
{
  clear:both;
}

.actualHeight
{
height: -webkit-fill-available;
clear: both;
}
}



/*****************************************************************/
